option_settings:
  aws:elasticbeanstalk:container:docker:
    Dockerfile: Dockerfile
  aws:elasticbeanstalk:application:environment:
    AWS_REGION: ap-south-1
    SECRETS_MANAGER_SECRET_NAME: prod/bettermeals-backend/env
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /webhooks/whatsapp
    Port: '8000'
    Protocol: HTTP
  aws:elasticbeanstalk:environment:loadbalancer:staticfiles:
    /static: static
